@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--icons-colors: #4f4f4f;
	/* font is inter */
	--font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}
html {
	overflow-x: hidden;
}
::selection {
	background-color: #ff880c;
	color: #fff;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

@keyframes progress {
	0% {
		width: 0%;
	}
	50% {
		width: 70%;
	}
	100% {
		width: 95%;
	}
}

.animate-progress {
	animation: progress 2s ease-out forwards;
}
